In [2]:
import pandas as pd

path = '../brca_metabric/Synapse_metabric/Clinical_Overall_Survival_Data_from_METABRIC.txt'
surv = pd.read_csv(path, index_col=0, sep=',')
surv

         time  status
MB-0000  2999       0
MB-0002  1484       0
MB-0005  3053       0
MB-0006  1721       0
MB-0008  1241       1
...       ...     ...
MB-7295  5906       0
MB-7296  1342       1
MB-7297  5279       1
MB-7298  2587       1
MB-7299  5893       0

[1981 rows x 2 columns]